.container
  .row
    div(ng-repeat='post in posts | filter:query')
      .col-md-4.col-sm-6
        .panel.panel-primary
          .panel-heading
            h3(class='panel-title') {{post.title}}
          .panel-body 
            {{post.text}}
            br
            br
            p
              a(href='/readPost/{{post._id}}') View
              |  - 
              a(href='/editPost/{{post._id}}') Edit
              |  - 
              a(href='/deletePost/{{post._id}}') Delete
            //- p
            //-   a.btn.btn-sm.btn-default(href='/readPost/{{post._id}}', role='button') View &raquo;
            //-   a.btn.btn-sm.btn-default(href='/editPost/{{post._id}}', role='button') Edit &raquo;
            //-   a.btn.btn-sm.btn-default(href='/deletePost/{{post._id}}', role='button') Delete &raquo;